/* VD Color:    #225D38 */
/* VD Font      Roboto Slab // Bold */
/* Bold 700
font-family: 'Roboto Slab', serif; */
/* Medium 500
font-family: 'Roboto Slab', serif; */

.about-container {
    margin: 0;
    background: #c3e0ce;
    padding: 50px 100px 120px 150px;
    justify-items: center;
    height: 76vh;
}

.about-container h2 {
    text-align: center;
    font-size: 2.6vw;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 5px rgb(56, 56, 56);
    letter-spacing: 0.30em;
}

.about-container .section {
    margin: 120px;
    text-align: left;
    text-indent: 30px;
    line-height: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 0.08em;
}

.aboutinst {
    margin: 0;
    padding: 15px;
}

@media (max-width: 1000px) {
    .about-container .section {
        margin: 60px;
    }
}

@media (max-width: 768px) {
    .about-container {
        padding: 30px 50px 50px 30px;
        margin: 5px;
    }
}

@media (max-width: 467px) {
    .about-container {
        padding: 15px 5px 5px 10px;
        margin: 5px;
        justify-items: center;
    }
}