/* VD Color:    #225D38 */
/* VD Font      Roboto Slab // Bold */

.container-g {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

.container-g .box {
    text-align: center;
}

.container-g .box .icon .fas {
    font-size: 40px;
    color: #225D38;
    cursor: pointer;
}

.container-g .box .icon h3,
.container-g .box .icon h4 {
    position: relative;
    overflow: hidden;
    font-weight: 400;
    margin: 0;
    padding: 2px 5px;
    font-size: 24px;
    transition-delay: 0.3333s;
    color: transparent;
}

.container-g .box .icon h3 {
    font-size: 18px;
}

.container-g .box .fas:hover ~ h3,
.container-g .box .fas:hover ~ h4{
    color: #000;
}

.container-g .box .icon h4 {
    font-weight: 600;
    margin: 5px 0;
    font-style: 30px;
}

.container-g .box .icon h3:before,
.container-g .box .icon h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #599770;
    transition: 1s;
}

.container-g .box .icon h4:before {
    left: initial;
    right: 100%;
    background:#225D38;
}
.container-g .box .fas:hover ~ h3:before {
    left: -100%;
}
.container-g .box .fas:hover ~ h4:before {
    left: initial;
    right: -100%;
}

.maps-section {
    display: grid;
}

.maps-container {
    justify-self: center;
    padding: 0px 50px;
}

.googlemaps {
    display: block;
    width: 75%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --font-color: #225D38;
    --font-hover-color: orange;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    height: auto;
    width: auto;
}

.tbtitle {
    font-size: .75em;
    color: #225D38;
}

.form-group {
    margin-bottom: .7em;
}

.form-label {
    font-size: .75em;
    color: var(--font-color);
    display: block;
    opacity: 1;
}

.form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    font-size: 1.25em;
    /* z-index: -1; */
}

.choose-container {
    display: grid;
    grid-template-columns: 1fr;
}

label.lchoose {
    font-size: .75em;
    color: #225D38;
}

.choose-select {
    padding-top: 5px;
    padding-bottom: 15px;
}

.choose {
    width: 100%;
    color: #225D38;
}

.typeofbusiness {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
} 

.typeofbusiness .tb{
    text-align: center;
    justify-content: center;
    align-items: center;
} 

.form-control::placeholder {
    color: #aaa;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
}

.btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10 50px;
    text-transform: uppercase;
}

.btn:hover {
    border-color: var(--font-hover-color);
    color: var(--font-hover-color);
}

.textarea {
    resize: none;
}

@media (max-width: 798px) {
    .googlemaps {
        padding: 0px 45px 0px 45px;
        width: 90%;
        height: 60vh;
    }
    .general-section {
        padding-bottom: 100px;
    }
    .general-info-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .general-contact {
        font-size: 20px;
    }
    .general-number {
        font-size: 10px;
    }
    .general-email {
        font-size: 10px;
    }
    .general-address {
        font-size: 10px;
    }
    .general-hours {
        font-size: 10px;
    }
}

/* Iphone promax 11 size 458px */

@media (max-width: 458px) {
    .maps-container {
        padding: 0px 30px;
    }
    .googlemaps {
        padding: 0px 55px 0px 5px;
        width: 100%;
        height: 50vh;
    }
    .general-section {
        padding-bottom: 50px;
    }
    .general-contact {
        font-size: 12px;
    }
    .general-number {
        font-size: 8px;
    }
    .general-email {
        font-size: 8px;
    }
    .general-address {
        font-size: 8px;
    }
    .general-hours {
        font-size: 8px;
    }
}